<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trans_dot.name %>
</p>

<p>
  <b>Description:</b>
  <%= @trans_dot.description %>
</p>

<p>
  <b>Do this:</b>
  <%= @trans_dot.do_this %>
</p>


<%= link_to 'Edit', edit_trans_dot_path(@trans_dot) %> |
<%= link_to 'Back', trans_dots_path %>
